Node_Red_flows/flows.json
[{"id":"9c65ab36.252ed8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6e354130.7e844","type":"mqtt out","z":"9c65ab36.252ed8","name":"","topic":"callback/maslow","qos":"0","retain":"","broker":"508f6dbd.ef2a84","x":340,"y":180,"wires":[]},{"id":"ed6befe2.e7b4","type":"inject","z":"9c65ab36.252ed8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75fcc4da231942739d04dd56874f3bd9/temp","payloadType":"str","x":150,"y":180,"wires":[[]]},{"id":"fed0622f.39444","type":"mqtt in","z":"9c65ab36.252ed8","name":"Temp listener","topic":"maslow/sensors/75fcc4da231942739d04dd56874f3bd9","qos":"0","datatype":"json","broker":"508f6dbd.ef2a84","x":150,"y":300,"wires":[["2784e28e.99789e","92d888b0.3e7738"]]},{"id":"2784e28e.99789e","type":"switch","z":"9c65ab36.252ed8","name":"higher than 26 C ","property":"payload.value","propertyType":"msg","rules":[{"t":"gt","v":"26","vt":"num"}],"checkall":"true","repair":true,"outputs":1,"x":380,"y":280,"wires":[["1a973dfa.5eb032"]]},{"id":"537f968c.ba59d8","type":"discord-send-messages","z":"9c65ab36.252ed8","name":"Discord_maslow","channel":"826169007492038656","token":"","x":800,"y":360,"wires":[]},{"id":"765528c8.79f328","type":"debug","z":"9c65ab36.252ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"1a973dfa.5eb032","type":"function","z":"9c65ab36.252ed8","name":"","func":"temp=msg.payload.value;\nmsg.payload=\"The temperature is too high \"+temp+\"° C consider reduce the heater, a temperature too high may cause extra fees on the bills, think about it\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":280,"wires":[["765528c8.79f328","537f968c.ba59d8"]]},{"id":"92d888b0.3e7738","type":"switch","z":"9c65ab36.252ed8","name":"lower than than 13 C ","property":"payload.value","propertyType":"msg","rules":[{"t":"lt","v":"13","vt":"num"}],"checkall":"true","repair":true,"outputs":1,"x":400,"y":360,"wires":[["badf9f04.92838"]]},{"id":"badf9f04.92838","type":"function","z":"9c65ab36.252ed8","name":"","func":"msg.payload=\"The temperature is too cold \"+temp+\"° C consider turning the heater on\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":360,"wires":[["537f968c.ba59d8","765528c8.79f328"]]},{"id":"f0c72778.7427f8","type":"mqtt out","z":"9c65ab36.252ed8","name":"get light","topic":"maslow/sensors/6b13a7131fe54e1096a7aac9ea77bb9d","qos":"0","retain":"","broker":"508f6dbd.ef2a84","x":340,"y":660,"wires":[]},{"id":"e362f964.fb0558","type":"mqtt in","z":"9c65ab36.252ed8","name":"light listener","topic":"maslow/sensors/6b13a7131fe54e1096a7aac9ea77bb9d","qos":"0","datatype":"json","broker":"508f6dbd.ef2a84","x":130,"y":760,"wires":[["69b6f6e7.bbf7c8"]]},{"id":"baa114a9.054948","type":"discord-send-messages","z":"9c65ab36.252ed8","name":"topic_light","channel":"826187619167240234","token":"","x":780,"y":880,"wires":[]},{"id":"54653bc7.5bd174","type":"debug","z":"9c65ab36.252ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":740,"wires":[]},{"id":"69b6f6e7.bbf7c8","type":"switch","z":"9c65ab36.252ed8","name":"lower than than 100","property":"payload.value","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"num"}],"checkall":"true","repair":true,"outputs":1,"x":350,"y":820,"wires":[["81ba654d.1973a8","861f5cd6.8797c"]]},{"id":"81ba654d.1973a8","type":"function","z":"9c65ab36.252ed8","name":"","func":"msg.payload=\"3b5708b079f247938f4096ee057fbc01/on\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":820,"wires":[["54653bc7.5bd174","c68538b.ab3f0c8"]]},{"id":"4271e0e4.fd50c","type":"inject","z":"9c65ab36.252ed8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"maslow/sensors/6b13a7131fe54e1096a7aac9ea77bb9d","payloadType":"str","x":130,"y":660,"wires":[["f0c72778.7427f8"]]},{"id":"48521434.86076c","type":"debug","z":"9c65ab36.252ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":620,"wires":[]},{"id":"c68538b.ab3f0c8","type":"mqtt out","z":"9c65ab36.252ed8","name":"","topic":"callback/maslow","qos":"0","retain":"","broker":"508f6dbd.ef2a84","x":800,"y":820,"wires":[]},{"id":"d9e76564.7f85a8","type":"debug","z":"9c65ab36.252ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":980,"wires":[]},{"id":"861f5cd6.8797c","type":"function","z":"9c65ab36.252ed8","name":"","func":"msg.payload=\"it's night, turning on the light\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":880,"wires":[["baa114a9.054948"]]},{"id":"508f6dbd.ef2a84","type":"mqtt-broker","name":"maslow","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]